<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slide.name %>
</p>

<p>
  <strong>Text l:</strong>
  <%= @slide.text_l %>
</p>

<p>
  <strong>Text r:</strong>
  <%= @slide.text_r %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
